@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<!--
    Read.cshtml
    Desc: Displays a product's details
    -->
<h1 class="title">Read</h1>

<div class="container">
    <!--Product Title-->
    <h5 class="title" id="productTitle">@Model.Product.Title</h5>

    <!--Product Image-->
    <img class="card-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title'>

    <!--Product Description-->
    <p class="card-text">@Model.Product.Description</p>

    <!--Add Comment Form-->
    <form>
        <fieldset>
            <legend class="title">Comments</legend>
            <div class="container">
                @*<input id="input-box"
                       type="text" 
                       name="comment"
                       placeholder="Enter Comment Here" 
                       value="" />*@
                <textarea id="comment" 
                          name="comment" 
                          placeholder="Enter Comment Here"></textarea>
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>

    <br />
    <!--Display all comments-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="title">All Comments</tr>
        </thead>
        <!--Need to implement backend first for this to work-->
        <tbody>
            @*
            @foreach (var product in Model.Product)
            {
                <tr>@product.Comments</tr>
            }
            *@
        </tbody>
    </table>

</div>

<br />
<br />

<div class="row">
    <!--Update Post Button-->
    <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;

    <!--Delete Post Button-->
    <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
</div>
